$wet-asphalt: #34495e;

.home{
  height: 100vh;
  width: 100vw;
  .layer{
    height: 100vh;
    background-color: transparentize($wet-asphalt, 0.35);
    background-size: cover;
  }

  .ui.container{
    .ui.header{
      color:white;
    }
    color: white;
  }

  background: url("/img/home.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
