$wet-asphalt: #34495e;

.login {

  height: 100vh;

  > .layer{
    height: 100vh !important;
    background-color: transparentize($wet-asphalt, 0.35);
  }

  background: url("/img/login.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .ui.container{
    .ui.header{
      color:white;
    }
  }

  .ui.basic.segment{
    background-color: transparent;
    color:white;
  }

  .ui.segment{
    background-color: transparentize(white, 0.75);
    .list{
      .input-label{
        color: white !important;
      }
      input{
        color: white !important;
      }
    }
  }

  //Hide date input defaults
  input::-webkit-datetime-edit,
  input::-webkit-clear-button,
  input::-webkit-inner-spin-button,
  input::-webkit-calendar-picker-indicator {
    display: none;
  }
  span.hackish-label {
    color: #aaaaaa;
    position: fixed;
    margin-top: -2em;
    font-size: 14px;
  }
  .ui.container{
    margin-top:0.5em;
  }
}

.padtext{
  padding: 0 1.5em 1em;
}
