$wet-asphalt: #34495e;

.noauth{
  background-color: $wet-asphalt;
  .ui.container{
    color: white;
  }
  .ui.header{
    color: white;
    margin-top: 0.5em;
  }
  .padtext{
    padding: 0.5 1.5em 1em !important;
  }
}
