<ion-view view-title="Aktiviteter">
  <ion-content>
    <div class="ui container activity">
    <div class="list card">
      <div class="ui styled accordion">
        <div ng-repeat="activity in activities">
        <div class="title">
          <i class="angle down icon"></i>
          {{activity.title}}
        </div>
        <div class="content">
          <p class="transition hidden">
            {{activity.description}} <br/>
          </p>
          <div class="ui list" ng-repeat="exercise in activity.exercises">
            <div class="item"><i class="treatment icon"></i>
              <div class="content">
                <div class="header">
                {{exercise.repetitions}} x {{exercise.title}}
              </div>
              <div class="description">
                {{exercise.description}}
              </div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </ion-content>
</ion-view>
