<ion-view view-title="Aktiviteter">
  <ion-content>

    <div class="list card">

      <a href="#" class="item item-icon-left">
        <i class="icon fa fa-heart"></i>
        Supertrening #1
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon fa fa-heart"></i>
        Supertrening #2
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon fa fa-heart"></i>
        Supertrening #3
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon fa fa-heart"></i>
        Supertrening #4
      </a>

    </div>

  </ion-content>
</ion-view>
