<div id="edit" class="ui container" ng-controller="ProfileCtrl as prc">
  <form class="ui form" name="edit-form">
    <div class="field">
      <label>Fornavn</label>
      <input type="text" ng-model="prc.edit.user.profile.nameFirst" placeholder="Ola">
    </div>
    <div class="field">
      <label>Etternavn</label>
      <input type="text" ng-model="prc.edit.user.profile.nameLast" placeholder="Nordmann">
    </div>
    <div class="field">
      <label>Passord</label>
      <input type="password" ng-minlength="5" ng-model="prc.edit.user.nyttpassord" placeholder="Nytt passord, minst 5 tegn">
    </div>
    <div class="field">
      <label>Bio</label>
      <textarea rows="2" ng-model="prc.edit.user.profile.bio"></textarea>
    </div>
    <div class="bottompad">
      <button class="ui button" ui-sref="tab.profile">
        <i class="fa fa-times"></i>
        Avbryt</button>
      <button class="ui button" ng-click="prc.updateInfo()">
        <i class="fa fa-floppy-o"></i>
        Lagre</button>
    </div>
  </form>
</div>
