<ion-view view-title="Hjem" class="home">
  <ion-content class="layer">
    <div class="ui container">
      <h1 class="ui center aligned header" style="margin-top:1em;">Generell info</h1>
      <div class="ui basic center aligned segment">
        Dette er en løsning som har som mål å forebygge fall hos eldre gjennom bruk av en nettside og app som skal brukes sammen, for å få de mindre aktive ut og i aktivitet.
      </div>
      <h1 class="ui center aligned header">Fordeler fysisk aktive har</h1>
      <div class="ui basic center aligned segment">
        Eldre som er i aktivitet beskytter kropp og sinn fra skader...Vi tilbyr hjelp til å trene opp balanse, styrke og utholdenhet gjennom øvelser du kan få se demonstrert i en kort film. Når eldre først faller øker det sjansen for å falle igjen, hver time faller det en senior, dette koster staten en halv million.
      </div>
      <h1 class="ui center aligned header">Hvor godt trent er du?</h1>
      <div class="ui basic center aligned segment">
        <a href="https://www.worldfitnesslevel.org/#/" target="_blank"><button class="ui red button">Ta en fitnesstest</button></a>
      </div>
    </div>
  </ion-content>
</ion-view>
