<ion-view view-title="Velkommen" class="noauth">
  <ion-content>
    <div class="ui container noauth">
      <h1 class="ui center aligned header">Velkommen til ----</h1>
        <div class="ui grid">
          <div class="ui centered row">
            Dette er en app som skal gjøre ditten og datten.
          </div>
          <div class="ui divider"></div>
          <div class="ui centered row">
            Hva vil du gjøre nå?
          </div>
        <div class="ui centered row">
          <button class="ui button" ui-sref="login">Logg inn</button>
          <button class="ui button" ui-sref="register">Registrer meg</button>
        </div>
        </div>
      </div>
  </ion-content>
</ion-view>
