<ion-view view-title="Velkommen" class="noauth">
  <ion-content class="layer">
    <div class="ui fluid container">
      <h1 class="ui center aligned header">Velkommen til Stærk</h1>
        <div class="ui grid">
          <div class="ui centered row">
            <span class="padtext">
            Målet med appen er å bidra med forebygging av fall hos eldre. Forskning viser at aktivitet og trivsel i hverdagen er med på å forebygge fall og appen vår er en del av dette arbeidet gjennom å skape et nettverk av mennekser som sammen gjør enkle øvelser og møtes sosialt.
          </span>
          </div>
          <div class="ui divider"></div>
          <div class="ui centered row">
            Hva vil du gjøre nå?
          </div>
        <div class="ui centered row">
          <button class="ui button" ui-sref="login">Logg inn</button>
          <button class="ui button" ui-sref="register">Registrer meg</button>
        </div>
        </div>
      </div>
  </ion-content>
</ion-view>
