<ion-view view-title="Profil" class="profile">
  <ion-content delegate-handle="content">
    <div class="ui one column grid" ng-controller="ProfileCtrl as prc">
      <div class="column">
        <div class="ui centered fluid card" id="user-card">
          <a class="image" ng-click="addProfilePhoto()">
            <img src="{{prc.user.profile.profilePicture}}" id="profile-image">
          </a>
          <div class="content">
            <a class="header" href="#">{{prc.user.profile.nameFirst + " " + prc.user.profile.nameLast}}</a>
            <div class="meta">
              <span class="date">{{prc.user.profile.bio}}</span>
              <br/>
              <p style="margin-top: 0.25em;">
                <i class="user icon"></i>
                <span>{{ prc.user.profile.friends.length }}
                  venner</span>
              </p>
            </div>
            <h3 class="ui sub header">
              Oversikt over din aktivitet
            </h3>
            <div class="description">
              <div class="ui one column grid">
                <div class="sixteen wide centered column">

                  <div class="ui tiny horizontal statistics">
                    <div class="center statistic">
                      <div class="value">
                        {{user.activity.daily_step_count}}
                      </div>
                      <div class="label">
                        skritt i dag
                      </div>
                    </div>

                    <div class="center statistic">
                      <div class="value">
                        {{daily_step_percent | percent:0}}
                      </div>
                      <div class="label">
                        av daglig mål
                      </div>
                    </div>
                    <div class="center statistic">
                      <div class="value">
                        {{user.activity.weekly_step_count}}
                      </div>
                      <div class="label">
                        skritt denne uken
                      </div>
                    </div>
                    <div class="center statistic">
                      <div class="value">
                        {{weekly_step_percent | percent:0}}
                      </div>
                      <div class="label">
                        av ukentlig mål
                      </div>
                    </div>
                  </div>
                  <div ng-switch="editing">

                  <button ng-switch-when="false" class="fluid ui button" ng-click="edit(); scrollToAnchorWithinCurrentPage('edit')">Rediger profil</button>
                  <button ng-switch-when="true" class="fluid ui button" ng-click="cancelEdit()" ui-sref="tab.profile">Avbryt</button>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div id="edit" ui-view></div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
