<ion-view view-title="Innstillinger">
  <ion-content>
    <div class="ui container settings">
      <div class="list">
        <h1 class="ui center aligned header">Hvordan endre instillinger?</h1>
        <div class="ui one column centered grid">
          <div class="column">
            <div class="ui center aligned segment">
              <div class="ui small ordered steps">
                <div class="active step">
                  <div class="content">
                    <div class="title">Endre instillingene her</div>
                  </div>
                </div>
                <div class="active step">
                  <div class="content">
                    <div class="title">Så oppdateres appen automagisk</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui divider"></div>
        <h1 class="ui center aligned header">Endre tekststørrelse</h1>
        <div class="list">
          <div class="item range range-positive">
            <i class="icon ion-minus"></i>
            <input type="range" name="volume" min="98" max="102" value="100" ng-model="fontSize" ng-change="changeFontSize(fontSize)">
            <i class="icon ion-plus"></i>
          </div>
        </div>
        <div class="ui divider"></div>
        <h1 class="ui center aligned header">Faresone</h1>
        <div class="ui one column centered grid">
          <a ng-click="logout()" style="margin-top: 1rem;"><button class="ui red button">Logg ut</button></a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
